doctype
html( lang="en" )
    head
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        title Thumbnails
        //- Bootstrap Theme
        //- link(href="https://bootswatch.com/cosmo/bootstrap.min.css", rel="stylesheet")
        //- Own CSS file
        link(rel="stylesheet" href="css/style.css")
        link(rel="icon" type="image/png" href="images/icon.png" sizes="32x32")
 
    body(style="padding-bottom:10rem;")

        //-MAIN BODY 
        div.content
            block content

        //- LINK TO BOOTSTRAP + JQUERY LIBRARY
        script( src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' )
        //- script( src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js' )
